.login-social {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .login-social-item {
    width: 40px;
    height: 40px;
    border-radius: 54px;
    padding: 12px;
    margin: 0 12px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px #d6d6d6;
  }
  
  .login-social-item--facebook {
    padding: 0px;
    background-color: #3C5B9B;
  }

  .login-social-item--google {
    padding: 0px;
    background-color: #e70404;
  }

  .login-social-item--apple {
    padding: 0px;
    background-color: #04d8e7;
  }
  
  .login-social-item__image {
    width: 100%;
  }
  
 